[Unit]
Description=etcd service
Requires=containerd.service keights-volumize.service keights-templatize-etcd-env.service keights-kubeadm-etcd.service
After=containerd.service keights-volumize.service keights-templatize-etcd-env.service keights-kubeadm-etcd.service
Before=keights-etcd-signal.service

[Service]
Type=simple
# Environment=KEIGHTS_ETCD_IMAGE=
ExecStartPre=-/usr/bin/ctr t kill etcd
ExecStartPre=/usr/bin/ctr i pull ${KEIGHTS_ETCD_IMAGE}
ExecStart=/usr/bin/ctr run \
    --rm \
    --net-host \
    --env-file=/etc/default/etcd \
    --mount type=bind,src=/var/lib/etcd,dst=/var/lib/etcd,options=rbind:rw \
    --mount type=bind,src=/etc/pki/etcd,dst=/etc/pki/etcd,options=rbind:ro \
    ${KEIGHTS_ETCD_IMAGE} \
    etcd /usr/local/bin/etcd
ExecStop=/usr/bin/ctr t kill etcd
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
