[Unit]
Description=keights-signal service

[Service]
# Environment=AWS_REGION=
# Environment=KEIGHTS_STACK_NAME=
Environment=KEIGHTS_MASTER=false
Environment=KEIGHTS_RESOURCE=AutoScalingGroup
Type=oneshot
ExecStart=/bin/sh -c ' \
    while true; do \
        [ -f /var/lib/kubeadm/initialized ] && break; \
        sleep 5; \
    done && \
    if ${KEIGHTS_MASTER}; then \
        cacert=/etc/kubernetes/pki/ca.crt; \
        myip=`curl -s http://169.254.169.254/latest/meta-data/local-ipv4` && \
        while true; do \
            health=`curl -s --cacert $${cacert} https://$${myip}:6443/healthz`; \
            [ "$${health}" = "ok" ] && break; \
            sleep 5; \
        done; \
    fi && \
    /usr/bin/keights signal \
        -n ${KEIGHTS_STACK_NAME} \
        -r ${KEIGHTS_RESOURCE} \
        -s SUCCESS && \
    if ${KEIGHTS_MASTER}; then \
        sleep 300 && \
        systemctl restart kubelet; \
    fi \
'
