[Unit]
Description=keights-kubeadm-etcd service
Requires=keights-whisper-etcd.service keights-templatize-kubeadm-etcd-config.service
After=keights-whisper-etcd.service keights-templatize-kubeadm-etcd-config.service
Before=etcd.service
ConditionPathExists=!/var/lib/kubeadm/initialized

[Service]
Type=simple
ExecStart=/bin/sh -c ' \
    /usr/bin/kubeadm init phase certs etcd-server --config=/var/lib/kubeadm/config.yaml && \
    /usr/bin/kubeadm init phase certs etcd-peer --config=/var/lib/kubeadm/config.yaml && \
    touch /var/lib/kubeadm/initialized \
'
Restart=on-failure
RestartSec=10s
