[Unit]
Description=keights-templatize-kubeadm-config service
Requires=keights-whisper-controller.service
After=keights-whisper-controller.service

[Service]
Type=simple
# Environment=AWS_REGION=
# Environment=KEIGHTS_CLUSTER_DOMAIN=
# Environment=KEIGHTS_ETCD_DOMAIN=
# Environment=KEIGHTS_PREFIX=
# Environment=KEIGHTS_APISERVER=
# Environment=KEIGHTS_API_PORT=
# Environment=KEIGHTS_POD_SUBNET=
# Environment=KEIGHTS_SERVICE_SUBNET=
# Environment=KEIGHTS_CLUSTER_DNS=
# Environment=KEIGHTS_IMAGE_REPOSITORY=
# Environment=KEIGHTS_KUBERNETES_VERSION=
# Environment=KEIGHTS_AZS=
ExecStartPre=/usr/bin/systemd-tmpfiles --create --prefix /var/lib/kubeadm
ExecStart=/bin/sh -c ' \
    while true; do \
      [ -f /run/kubernetes/bootstrap-token ] && break; \
      sleep 1; \
    done && \
    token=`cat /run/kubernetes/bootstrap-token` && \
    node_name=`curl -s \
            --retry 10 \
            --retry-delay 2 \
            http://169.254.169.254/latest/meta-data/local-hostname` && \
    myaz=`curl -s \
            --retry 10 \
            --retry-delay 2 \
            http://169.254.169.254/latest/meta-data/placement/availability-zone` && \
    myip=`curl -s \
            --retry 10 \
            --retry-delay 2 \
            http://169.254.169.254/latest/meta-data/local-ipv4` && \
    /usr/bin/keights template \
      -t /usr/share/keights/kubeadm-config.yaml.template \
      -D /var/lib/kubeadm/config.yaml \
      -v ClusterDomain=${KEIGHTS_CLUSTER_DOMAIN} \
      -v EtcdDomain=${KEIGHTS_ETCD_DOMAIN} \
      -v Prefix=${KEIGHTS_PREFIX} \
      -v APIServer=${KEIGHTS_APISERVER} \
      -v APIPort=${KEIGHTS_API_PORT} \
      -v PodSubnet=${KEIGHTS_POD_SUBNET} \
      -v ServiceSubnet=${KEIGHTS_SERVICE_SUBNET} \
      -v ClusterDNS=${KEIGHTS_CLUSTER_DNS} \
      -v NodeName=$${node_name} \
      -v Token=$${token} \
      -v ImageRepository=${KEIGHTS_IMAGE_REPOSITORY} \
      -v KubernetesVersion=${KEIGHTS_KUBERNETES_VERSION} \
      -v AZs=${KEIGHTS_AZS} \
      -v MyAZ=$${myaz} \
      -v MyIP=$${myip} \
'

[Install]
RequiredBy=keights-templates.target
