[Unit]
Description=keights-kubeadm-join service
Requires=keights-templatize-kubeadm-join-config.service
After=keights-templatize-kubeadm-join-config.service
ConditionPathExists=!/var/lib/kubeadm/initialized

[Service]
Type=simple
ExecStart=/bin/sh -c ' \
    /usr/bin/kubeadm join \
      --config /var/lib/kubeadm/config.yaml \
      --ignore-preflight-errors=all && \
    touch /var/lib/kubeadm/initialized \
'
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
