[Unit]
Description=keights-add-addon service
ConditionPathExists=!/etc/kubernetes/manifests/kube-addon-manager.yaml

[Service]
Type=oneshot
ExecStartPre=/usr/bin/systemd-tmpfiles --create --prefix /etc/kubernetes/manifests
ExecStart=/usr/bin/install \
    -o root \
    -g root \
    -m 0644 \
    /usr/share/keights/kube-addon-manager.yaml \
    /etc/kubernetes/manifests
