[Unit]
Description=keights-bootstrap-token-splitter service
Before=keights-bootstrap-token.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c ' \
    while true; do \
        cut -d . -f 1 /run/kubernetes/bootstrap-token | xargs echo -n > /run/kubernetes/bootstrap-token-id && \
        umask 266 && \
        cut -d . -f 2 /run/kubernetes/bootstrap-token | xargs echo -n > /run/kubernetes/bootstrap-token-secret && \
        break; \
        sleep 10; \
    done \
'

[Install]
WantedBy=keights-configure.target
