[Unit]
Description=keights-templatize-kube-proxy service
Requires=keights-collector.service
After=keights-collector.service

[Service]
Type=simple
# Environment=AWS_REGION=
# Environment=KEIGHTS_POD_CIDR=
ExecStartPre=/usr/bin/systemd-tmpfiles --create --prefix /etc/kubernetes
ExecStart=/usr/bin/keights template \
            -i /run/keights-collector/asg \
            -t /usr/share/keights/kube-proxy.yml.template \
            -D /etc/kubernetes/kube-proxy.yml \
            -v PodCidr=${KEIGHTS_POD_CIDR}

[Install]
WantedBy=keights-configure.target
