[Unit]
Description=keights-templatize-kube-apiserver service
Requires=keights-collector.service
After=keights-collector.service

[Service]
Type=simple
# Environment=AWS_REGION=
# Environment=KEIGHTS_KUBE_APISERVER_IMAGE=
# Environment=KEIGHTS_DOMAIN=
# Environment=KEIGHTS_SERVICE_CIDR=
# Environment=KEIGHTS_PREFIX=
ExecStartPre=/usr/bin/systemd-tmpfiles --create --prefix /etc/kubernetes
ExecStart=/usr/bin/keights template \
            -i /run/keights-collector/asg \
            -t /usr/share/keights/kube-apiserver.yml.template \
            -D /etc/kubernetes/manifests/kube-apiserver.yml \
            -v KubeApiserverImage=${KEIGHTS_KUBE_APISERVER_IMAGE} \
            -v ServiceCidr=${KEIGHTS_SERVICE_CIDR} \
            -v Prefix=${KEIGHTS_PREFIX} \
            -v Domain=${KEIGHTS_DOMAIN}

[Install]
WantedBy=keights-configure.target
