[Unit]
Description=keights-kubectl-create service
Requires=keights-configure.target
After=keights-configure.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flock /run/kubernetes/.kubectl.lock -c ' \
    myip=`curl http://169.254.169.254/latest/meta-data/local-ipv4`; \
    for entry in `cat /run/keights-collector/asg`; do \
        index=`echo $${entry} | cut -d : -f 1`; \
        ip=`echo $${entry} | cut -d : -f 2`; \
        [ "$${myip}" = "$${ip}" ] && break; \
    done; \
    [ "$${index}" = "1" ] || exit; \
    while true; do \
        health=`curl -s http://localhost:8080/healthz`; \
        [ "$${health}" = "ok" ] && break; \
        sleep 1; \
    done; \
    kubectl create -f /etc/kubernetes/config \
'

[Install]
WantedBy=multi-user.target
