[Unit]
Description=keights-templatize-kube-scheduler service

[Service]
Type=simple
# Environment=AWS_REGION=
# Environment=KEIGHTS_KUBE_SCHEDULER_IMAGE=
# Environment=KEIGHTS_POD_CIDR=
ExecStartPre=/usr/bin/systemd-tmpfiles --create --prefix /etc/kubernetes
ExecStart=/usr/bin/keights template \
            -i /run/keights-collector/asg \
            -t /usr/share/keights/kube-scheduler.yml.template \
            -D /etc/kubernetes/manifests/kube-scheduler.yml \
            -v KubeSchedulerImage=${KEIGHTS_KUBE_SCHEDULER_IMAGE}

[Install]
WantedBy=keights-configure.target
