[Unit]
Description=keights-manifests target
Requires=keights-collector.service
After=keights-collector.service

[Install]
RequiredBy=keights-kubeadm-init.service
