[Unit]
Description=keights-whisper-controller service
Before=keights-kubeadm-init.service

[Service]
Type=oneshot
# Environment=AWS_REGION=
# Environment=KEIGHTS_CLUSTER_NAME=
ExecStartPre=/usr/bin/systemd-tmpfiles --create --prefix /etc/kubernetes/pki
ExecStart=/usr/bin/keights whisper \
            -p /${KEIGHTS_CLUSTER_NAME}/cluster/bootstrap-token:/run/kubernetes/bootstrap-token \
            -p /${KEIGHTS_CLUSTER_NAME}/cluster/ca.crt:/etc/kubernetes/pki/ca.crt \
            -p /${KEIGHTS_CLUSTER_NAME}/controller/ca.key:/etc/kubernetes/pki/ca.key \
            -p /${KEIGHTS_CLUSTER_NAME}/controller/etcd-ca.crt:/etc/kubernetes/pki/etcd-ca.crt \
            -p /${KEIGHTS_CLUSTER_NAME}/controller/etcd-ca.key:/etc/kubernetes/pki/etcd-ca.key \
            -p /${KEIGHTS_CLUSTER_NAME}/controller/etcd.crt:/etc/kubernetes/pki/etcd.crt \
            -p /${KEIGHTS_CLUSTER_NAME}/controller/etcd.key:/etc/kubernetes/pki/etcd.key \
            -p /${KEIGHTS_CLUSTER_NAME}/controller/etcd-peer.crt:/etc/kubernetes/pki/etcd-peer.crt \
            -p /${KEIGHTS_CLUSTER_NAME}/controller/etcd-peer.key:/etc/kubernetes/pki/etcd-peer.key \
            -p /${KEIGHTS_CLUSTER_NAME}/controller/etcd-client.crt:/etc/kubernetes/pki/etcd-client.crt \
            -p /${KEIGHTS_CLUSTER_NAME}/controller/etcd-client.key:/etc/kubernetes/pki/etcd-client.key

[Install]
WantedBy=keights-configure.target
