[Unit]
Description=keights-share service
Requires=keights-collector.service
After=keights-collector.service

[Service]
Type=oneshot
# Environment=KEIGHTS_PREFIX=
# Environment=KEIGHTS_DOMAIN=
ExecStart=/usr/bin/keights share \
            -i /run/keights-collector/asg \
            -p ${KEIGHTS_PREFIX} \
            -d ${KEIGHTS_DOMAIN}

[Install]
WantedBy=keights-configure.target
