[Unit]
Description=keights-volumize service

[Service]
# Environment=AWS_REGION=
# Environment=KEIGHTS_VOLUME_TAG=
Type=oneshot
ExecStart=/usr/bin/keights volumize -v ${KEIGHTS_VOLUME_TAG}

[Install]
WantedBy=keights-configure.target
