[Unit]
Description=keights-bootstrap-kubeconfig service
Requires=keights-bootstrap-token-splitter.service
After=keights-bootstrap-token-splitter.service

[Service]
Type=oneshot
RemainAfterExit=true
# Environment=KEIGHTS_CLUSTER_NAME=
# Environment=KEIGHTS_DOMAIN=
ExecStart=/bin/sh -e -c ' \
    kubeconfig=/run/kubernetes/bootstrap.kubeconfig; \
    user=kubelet-bootstrap; \
    kubectl config set-cluster ${KEIGHTS_CLUSTER_NAME} \
      --certificate-authority=/run/kubernetes/pki/ca.crt \
      --embed-certs=true \
      --server=https://api-${KEIGHTS_CLUSTER_NAME}.${KEIGHTS_DOMAIN}:6443 \
      --kubeconfig=$${kubeconfig}; \
    kubectl config set-context $${user}@${KEIGHTS_CLUSTER_NAME} \
      --cluster=${KEIGHTS_CLUSTER_NAME} \
      --user=$${user} \
      --kubeconfig=$${kubeconfig}; \
    kubectl config use-context $${user}@${KEIGHTS_CLUSTER_NAME} \
      --kubeconfig=$${kubeconfig}; \
    kubectl config set-credentials kubelet-bootstrap \
      --token=`cat /run/kubernetes/bootstrap-token-secret` \
      --kubeconfig=/etc/kubernetes/bootstrap.kubeconfig \
'

[Install]
WantedBy=keights-configure.target
