[Unit]
Description=kube-router-kubeconfig service

[Service]
Type=oneshot
# Environment=KEIGHTS_CLUSTER_NAME=
# Environment=KEIGHTS_DOMAIN=
ExecStart=/usr/bin/flock /run/kubernetes/.kubectl.lock -c ' \
    kubeconfig=/var/lib/kube-router/kubeconfig; \
    user=kube-router; \
    kubectl config set-cluster ${KEIGHTS_CLUSTER_NAME} \
      --certificate-authority=/run/kubernetes/pki/ca.crt \
      --server=https://api-${KEIGHTS_CLUSTER_NAME}.${KEIGHTS_DOMAIN}:6443 \
      --kubeconfig=$${kubeconfig}; \
    kubectl config set-context $${user}@${KEIGHTS_CLUSTER_NAME} \
      --cluster=${KEIGHTS_CLUSTER_NAME} \
      --user=$${user} \
      --kubeconfig=$${kubeconfig}; \
    kubectl config use-context $${user}@${KEIGHTS_CLUSTER_NAME} \
      --kubeconfig=$${kubeconfig}; \
    kubectl config set-credentials $${user} \
      --client-certificate /run/kubernetes/pki/$${user}.crt \
      --client-key /run/kubernetes/pki/$${user}.key \
      --kubeconfig=$${kubeconfig} \
'

[Install]
WantedBy=keights-configure.target
