[Unit]
Description=kube-proxy service
Requires=keights-configure.target
After=keights-configure.target

[Service]
# Environment=KEIGHTS_MASTER=
ExecStart=/usr/local/bin/kube-proxy \
            --master=${KEIGHTS_MASTER} \
            --config=/etc/kubernetes/kube-proxy.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
