[Unit]
Description=kube-router service
Requires=keights-configure.target docker.socket
After=keights-configure.target docker.socket

[Service]
Type=simple
# Environment=KEIGHTS_KUBE_ROUTER_IMAGE=
ExecStart=/bin/sh -c ' \
    /usr/bin/docker run \
      --rm \
      --privileged \
      --net=host \
      -v /lib/modules:/lib/modules \
      -v /etc/cni/net.d:/etc/cni/net.d \
      -v /var/lib/kube-router/kubeconfig:/var/lib/kube-router/kubeconfig \
      -v /run/kubernetes/pki/ca.crt:/run/kubernetes/pki/ca.crt \
      -v /run/kubernetes/pki/kube-router.crt:/run/kubernetes/pki/kube-router.crt \
      -v /run/kubernetes/pki/kube-router.key:/run/kubernetes/pki/kube-router.key \
      ${KEIGHTS_KUBE_ROUTER_IMAGE} \
        --kubeconfig=/var/lib/kube-router/kubeconfig \
        --hostname-override=`hostname -f` \
'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
