- src: https://github.com/cloudboss/keights/releases/download/v__VERSION__/keights-stack-v__VERSION__.tar.gz
  name: keights-stack
- src: https://github.com/cloudboss/keights/releases/download/v__VERSION__/keights-system-v__VERSION__.tar.gz
  name: keights-system
