- src: https://github.com/cloudboss/keights/releases/download/__VERSION__/keights-stack-__VERSION__.tar.gz
  name: keights-stack
- src: https://github.com/cloudboss/keights/releases/download/__VERSION__/keights-system-__VERSION__.tar.gz
  name: keights-system
